<div class="row">
	<div class="col-lg-8 offset-lg-2">
		<div class="card shadow-sm">

			<!-- messages -->
			<div class="card-body" id="chat-card" style="height:70vh; overflow-y: scroll;">
				<div class="row" id="chat">

					<!-- <div class="card-box col-10 text-left p-2">
								<h4 class="text-warning rounded p-0 m-0"><b>Slokje</b></h4>
								<span>Lorem ipsum dolor sit amet consectetur adipisicin</span>
						</div>

						<div class="card-box col-10 offset-2 text-right p-2">
								<h4 class="text-warning rounded p-0 m-0"><b>AVMG</b></h4>
								<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. equwygeqwuygeqyewgquywegquyewgqwuyegqe</span>
						</div> -->

				</div>
			</div>

			<!-- send messages -->
			<div class="card-footer p-0">
				<form id="send-message-form">
					<div class="input-group">
						<input class="form-control" type="text" id="input-message" placeholder="Typ een bericht">
						<div class="input-group-append">
							<button type="submit" id="submit-btn" class="btn btn-primary">Send</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>

	<div class="col-lg-2">
		<div class="card-box">
			<div class="text-center mb-2">
				<b>Connected users</b>
			</div>
			<div class="row" id="list">

			</div>
		</div>
	</div>

</div>