<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Stack Overflow - Where Developers Learn, Share, & Build Careers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="img/stack.png" sizes="16x16">
    <!-- App css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/icons.min.css" rel="stylesheet">
    <link href="css/app.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm shadow-sm" style="background:#3c4650;">
        <div class="container">
            <b class="navbar-brand text-success">Socket.io</b>
            <ul class="navbar-nav ml-aut">
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <%- body %>
    </div>

    <script src="js/vendor.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>